DirectoryIndex index.html index.php

AddType application/manifest+json .webmanifest

<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On

    RewriteCond %{THE_REQUEST} \s/+(.*/)?index\.php[\s?] [NC]
    RewriteRule ^index\.php$ index.html [R=302,L]

    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.html [L]
</IfModule>
